<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Tester">
    <select id="findAllTesters" resultType="kr.co.kpcard.ktree.domain.Tester"> SELECT seq,
        employe_id, name, pwd, authority_code, create_date, use_yn, team_code, division_code,
        position, confirm1, confirm2 FROM kpc_employe </select>

    <select id="findByTesterId" resultType="kr.co.kpcard.ktree.domain.Tester"> SELECT seq,
        employe_id, name, pwd, authority_code, create_date, use_yn, team_code, division_code,
        position, confirm1, confirm2 FROM kpc_employe WHERE employe_id = #{testerId} </select>
</mapper>