<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserInfo">
    <select id="findByUserId" resultType="kr.co.kpcard.ktree.domain.UserInfo"> SELECT seq,
        employe_id, name, pwd, authority_code, create_date, use_yn, team_code, division_code,
        position, confirm1, confirm2 FROM kpc_employe WHERE employe_id = #{userId} </select>

    <select id="findAuthorityLevelByUserId" resultType="java.lang.Integer"> SELECT auth_level FROM
        kpc_employe WHERE employe_id = #{userId} </select>

    <update id="updatePassword" parameterType="map"> UPDATE kpc_employe SET pwd = #{newPassword}
        WHERE employe_id = #{userId} </update>
</mapper>