<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <!-- Console Appender Configuration -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(-)
                %green([%thread]) %cyan(%logger{40}): %msg%n</pattern>
            -->
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %magenta(---)
                %green([%thread]) %cyan(%logger{40}): %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger Configuration -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Optional: Configure specific package logging levels -->
    <logger name="kr.co.kpcard.ktree" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

</configuration>