<!DOCTYPE HTML>
<html xmlns:th=http://www.thymeleaf.org>
<head th:replace=~{fragments/header :: header}></head>

<body>
	<div id=wrapper>
		<div th:replace=~{fragments/navigator :: navigator}></div>
		<!-- /#page-wrapper -->
		<div id=page-wrapper>
			<div class=row>
				<div class=col-lg-12>
					<h1 class=page-header></h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class=row centerDiv centerText>
			   <img th:src=@{/common/images/main_img.jpg} width=1200 height=800/>
			</div>
			<!-- /.row -->			
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->  
</body>

</html>
