<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<body>
    <div id=wrapper>
        <div layout:fragment="content">
            <div class=row>
                <div class=col-lg-12>
                    <h1 class=page-header></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class=row centerDiv centerText>
                <img th:src=@{/images/main_img.jpg} width=1200 height=800 />
            </div>
            <!-- /.row -->
        </div>
        <!-- /#content -->
    </div>
    <!-- /#wrapper -->
</body>
</html>
