<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}">

<head>
    <title>Change Password</title>
</head>

<body>
    <div layout:fragment="content">
        <h1>Change Password</h1>

        <!-- Success Message -->
        <div th:if="${success}" class="alert alert-success">
            <p th:text="${success}"></p>
        </div>

        <!-- Error Message -->
        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>

        <form th:action="@{/change-password}" method="post">
            <input type="hidden" name="employeId" th:value="${employeId}" />
            <div>
                <label for="oldPassword">Old Password:</label>
                <input type="password" id="oldPassword" name="oldPassword" required />
            </div>
            <div>
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" required />
            </div>
            <div>
                <label for="confirmNewPassword">Confirm New Password:</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" required />
            </div>
            <button type="submit">Change Password</button>
        </form>
    </div>
</body>

</html>