<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
    <div id="wrapper">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <h3 class="panel-title">이의사항 등록</h3>
                </div>
                <div class="panel-body">
                    <form class="form-signin" method="POST">
                        <input type="hidden" id="employeId" name="employeId" th:value="${employeId}"/>
                        <input type="hidden" id="yyyyMM" name="yyyyMM" th:value="${yyyyMM}"/>
                        <input type="hidden" id="useAuthLevel" name="useAuthLevel" th:value="${(confirm1 == session.employeId) ? 1 : ((confirm2 == session.employeId) ? 2 : 0)}"/>
                        <fieldset>
                            <div><label>이의 사항 등록</label></div>
                            <div class="form-group">
                                <textarea name="dissent" id="dissent" class="form-control" rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 60px; resizeable:false" th:readonly="${!employeId.equals(session.employeId) || status >= 5}" th:text="${dissent}"></textarea>
                            </div>
                            <div><label>1차평가자 Comment</label></div>
                            <div class="form-group">
                                <textarea name="comments1" id="comments1" class="form-control" rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 60px; resizeable:false" th:readonly="${useAuthLevel != 1 || status >= 6}" th:text="${comments1}"></textarea>
                            </div>
                            <div><label>2차평가자 Comment</label></div>
                            <div class="form-group">
                                <textarea name="comments2" id="comments2" class="form-control" rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 60px; resizeable:false" th:readonly="${useAuthLevel != 2 || status >= 6}" th:text="${comments2}"></textarea>
                            </div>

                            <th:block th:if="${comments2 != null && comments1 != null}">
                                <button class="btn btn-lg btn-danger btn-block btn-outline" type="button" onclick="javascript:window.open('about:blank','_self').close();">닫기</button>
                            </th:block>
                            <th:block th:unless="${comments2 != null && comments1 != null}">
                                <button class="btn btn-lg btn-danger btn-block" type="button" onclick="saveComments();">Comment 등록</button>
                            </th:block>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
    <script>
        function saveComments(){
            var dissent = $('#dissent').val();
            var comments1 = $('#comments1').val();
            var comments2 = $('#comments2').val();
            var employeId = $('#employeId').val();
            var yyyyMM = $('#yyyyMM').val();
            var useAuthLevel = $('#useAuthLevel').val();
            $.ajax({
                url: 'saveProjectDissent',
                type: 'post',
                dataType: 'text',
                data: {
                    employeId: employeId,
                    yyyyMM: yyyyMM,
                    dissent: dissent,
                    comments1: comments1,
                    comments2: comments2,
                    authLevel: useAuthLevel
                },
                success: function(res){
                    if(res == 'S'){
                        alert('등록이 완료되었습니다.');
                        opener.location.reload();
                        window.open('about:blank','_self').close();
                    }else{
                        alert('등록중 에러가 발생하였습니다. \n에러가 계속될경우 기술개발팀에 문의해주세요.');
                    }
                },
                error: function(request){
                    var data = JSON.parse(request.responseText);
                    alert(data.customMsg);
                }
            });
        }
    </script>
</body>
</html>